.raleway {
    font-family: 'Raleway', sans-serif;
}

p {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.list-style-disc {
    list-style-type: disc;
}

a {
    text-decoration: none;
}

* ::selection {
    background: $primary;
}
* {
    box-sizing: border-box;
}
.object-fit-cover {
    width: 100%;
    object-fit: cover;
}

.card-img-height {
    height: 200px;
}

.ellipsis2 {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    // white-space: normal;
}

.ellipsis3 {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    // white-space: normal;
}

.bg-transparent {
    background-color: transparent;
}

.text-vertical {
    writing-mode: vertical-rl
}

.flatpickr-calendar {
    background: $light ;
}

.text-shadow {
    text-shadow: 0.1em 0.1em 0.2em black
}

.top {
    position: fixed;
    z-index: 50;
    right: 20px;
    bottom: 45px;
    cursor: pointer;
    &:hover {
      transform: rotate(5deg);
    }
  }
  .top-content {
    position: absolute;
    top: 15px;
    right: 21px;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
      2px 2px 0 #fff;
  }