.cart-hover-block {
    width: 330px;
    position: fixed;
    right: 2%;
    top: 11%;
    z-index: 1050;

    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 15px solid;
        border-color: transparent transparent $primary transparent;
        right: 7%;
        top: -25px;
        z-index: 1051;
    }

    @include media-breakpoint-up(md) {
        width: 500px;
        top: 10%;

        &::before {
            top: -30px;
            right: 8%;
        }
    }
}

.banner-section {
    height: 50vh;
    background: url(../image/banner-index.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    @include media-breakpoint-up(md) {
        height: calc(100vh - 75px);
    }
}

.cart-dot {
    position: absolute;
    top: -12px;
    right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $danger;

    @include media-breakpoint-up(md) {
        right: 32px;
    }
}

.icon-bar {
    position: absolute;
    bottom: -10%;
    left: 5%;
    right: 5%;

    img {
        width: 30px;
    }

    @include media-breakpoint-up(md) {
        img {
            width: 50px;
        }

        li a {
            scale: 1.1;
            transition: 0.5s ease;

            &:hover {
                scale: 1;
                transition: 0.5s ease;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        left: 20%;
        right: 20%;

    }
}

.location-tag {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 10px;
}

.swiper {
    width: 100%;
    height: auto;
}

.product-item-hover {
    img {
        transition: 1s ease;
    }

    &:hover {
        img {
            transform: scale(1.2);
            transition: 1s ease;
        }
    }
}

.top10-product-btn-left,
.top10-product-btn-right {
    &:hover {
        color: $primary;
        cursor: pointer;
    }
}

.swiper-product-btn-prev {
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 10;
}

.swiper-product-btn-next {
    position: absolute;
    top: 45%;
    right: 0;
    z-index: 10;
}

.city-tag {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    left: 10px;
}

@keyframes move-down {
    0% {
        top: 0px;
    }

    25% {
        top: 30px;
    }

    50% {
        top: -5px;
    }

    75% {
        top: 20px;
    }

    100% {
        top: 0px;
    }
}

@keyframes move-up {
    0% {
        top: 0px;
    }

    25% {
        top: -30px;
    }

    50% {
        top: 5px;
    }

    75% {
        top: -20px;
    }

    100% {
        top: 0px;
    }
}

.move {
    position: relative;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    &-up {
        animation-name: move-down;
    }

    &-down {
        animation-name: move-up;
    }

    &-slow {
        animation-delay: 3s;
    }

    &-fast {
        animation-delay: 1s;
        animation-duration: 2s;
    }
}